@use 'variables';

.menu{
    background-color: variables.$primary-color;
    nav{
        display: flex;
        
    }
}

.menu-item{
    border:.1px;
    border-left-style: outset;
    border-bottom-style: outset;
    border-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .25em;
}

.menu-item:hover{
    background-color: rgba(255, 255, 255, 0.25);
}

.selected{
    background-color: rgba(255, 255, 255, 0.548);
}