@use 'variables';

.menu{
    background-color: variables.$primary-color;
    nav{
        display: flex;
        
    }
}

.menu-item{
    border:.1px;
    border-left-style: outset;
    border-right-style: outset;
    border-color: variables.$font-color-primary;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-item:hover{
    background-color: rgba(255, 255, 255, 0.25);
}