@use 'variables';
$image-size: 200px;

.Profile{
    background-color: variables.$font-color-primary;
}

.box{
    background-color: white;
    border-radius: 20px;
    padding: 2em;
    margin: 3em;
    display: flex;
}

.box-content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    text-align: justify;
    width: 100%;
    padding: 1em;
}

.box-image-content{
    display: flex;
    justify-content: center;
    img{
        height: $image-size;
        width: $image-size;
    }
}

.image-content{
    height: $image-size;
    width: 100% !important;
}

.image-content-not-res{
    height: 100% !important;
    width: 100% !important;
}

.Accordion{
    color: variables.$font-color-primary;
    margin-top: .5em;
}

.Accordion-Details{
    font-size: small;
    ul{
        padding: .5em;
        li{
            margin-bottom: .5em;
        }
    }
}

.box-list{
    p, ul{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}